# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env

# Node.js
node_modules/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Build files
dist/
build/

# Miscellaneous
*.sqlite3